.column-1, .column-2{
  display: inline-block;
  /* background-color:red; */
  width:48%;
  vertical-align:top;
  margin:5px;
  border:1px black solid;
}
section{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
h2{
  text-align:center;
  color:green;
}

.column-1 h2{
  background-color:red;
}

header,footer{
  background-color:red;
}

a:hover{
  color:red;
}


