<!DOCTYPE html>
<html>
<head>
  <title>Delete Student</title>
</head>
<body>
<form action="/student" method="POST">
<p>Who would you like to remove from the student list?</p>
  <input type="text" name="name" placeholder="Name">
  <button type="submit">Delete</button>
</form>
</body>
</html>