section#contact-info {
  font-size: 0.8em;
}

.job{
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.practice{
  font-size: 0.8em;
}

.